*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Font Family
$font-family: "Poppins", sans-serif;

// Colors
$red: hsl(0, 100%, 74%);
$white: #fff;
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-grey: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$bottom-shadow: 0 8px
	rgba(
		$color: #000000,
		$alpha: 0.2
	);

body {
	background-color: $red;
	font-family: $font-family;
	padding: 1rem;
	background-image: url("./../images/bg-intro-mobile.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: $white;
	text-align: center;
}

@media (min-width: 758px) {
	body {
		background-image: url("./../images/bg-intro-desktop.png");
	}
}

@media (min-width: 1200px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	main {
		max-width: 960px;
		margin: 0 auto;
		display: grid;
		gap: 4rem;
		grid-template-columns: 52% 48%;
	}
}
