.heading {
	max-width: 400px;
	padding-top: 3rem;
	padding-bottom: 2.5rem;
	margin: 0 auto;

	&-title {
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
	}

	&-text {
		margin-top: 1rem;
	}
}

@media (min-width: 1200px) {
	.heading {
		max-width: 100%;
	}
}
