.sign-up {
	max-width: 400px;
	padding-bottom: 3rem;
	margin: 0 auto;

	&-title {
		background-color: $blue;
		border-radius: 10px;
		padding: 1rem 0;
		margin-bottom: 1.5rem;
		box-shadow: $bottom-shadow;

		h2 {
			font-size: 0.95rem;
			margin-left: auto;
			margin-right: auto;
			max-width: 200px;

			span {
				font-weight: 400;
			}
		}
	}

	&-form {
		background-color: $white;
		padding: 1.5rem;
		border-radius: 10px;
		box-shadow: $bottom-shadow;

		&-group {
			padding-bottom: 1rem;
		}

		&-group.error {
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 13px;
				right: 20px;
				background-image: url("./../images/icon-error.svg");
				background-size: 20px 20px;
			}
		}

		.error-message {
			color: $red;
			font-size: 0.65rem;
			text-align: right;
			font-style: italic;
			margin-top: 0.5rem;
		}

		input {
			display: block;
			width: 100%;
			padding: 0.75rem;
			border-radius: 5px;
			border: 1px solid $grayish-blue;
			font-family: inherit;
			font-weight: 600;

			&:focus {
				outline: none;
				border: 1px solid $dark-grey;
			}
		}
	}

	#submit-button {
		background-color: $green;
		display: block;
		border: none;
		width: 100%;
		padding: 0.75rem;
		font-family: inherit;
		font-weight: 600;
		border-radius: 5px;
		color: $white;
		margin-bottom: 1rem;
		text-transform: uppercase;
		box-shadow: 0 4px hsl(154, 61%, 40%);
	}

	&-terms {
		color: $grayish-blue;
		font-size: 0.65rem;
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;

		span {
			color: $red;
		}
	}
}

@media (min-width: 1200px) {
	.sign-up {
		max-width: 100%;
		width: 100%;

		&-title {
			h2 {
				max-width: 100%;
			}
		}

		&-form {
			padding: 2.5rem 2rem;
		}

		#submit-button {
			cursor: pointer;
		}

		&-terms {
			max-width: 100%;
		}
	}
}
